In [1]:
import pandas as pd

In [2]:
salaries = [25000, 67000, 120000]

In [3]:
type(salaries)

list

In [5]:
salaries_series = pd.Series(salaries, index=['Adam', 'Jessica', 'Taylor'])

print(salaries_series)

Adam        25000
Jessica     67000
Taylor     120000
dtype: int64

In [18]:
my_dict = {'Name':['Adam', 'Jessica', 'Taylor'], 'Age':[33, 45, 32]}

type(my_dict)

dict

In [19]:
my_dict_series = pd.Series(my_dict)

print(my_dict_series)

Name    [Adam, Jessica, Taylor]
Age                [33, 45, 32]
dtype: object

In [21]:
my_dict_dataframe = pd.DataFrame(my_dict)

In [22]:
my_dict_dataframe

      Name  Age
0     Adam   33
1  Jessica   45
2   Taylor   32

In [23]:
new_person = {'Name':'Don', 'Age':67}

In [25]:
new_person_series = pd.Series(new_person)

In [29]:
my_dict_dataframe.append(new_person_series, ignore_index=True)

      Name  Age
0     Adam   33
1  Jessica   45
2   Taylor   32
3      Don   67